@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');

body {
    padding: 0px;
    margin: 0px;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: overlay;
    background: #262921;
    overflow-x: hidden;
    height: 560px;
}


html {
    height: 100%;
}

body::-webkit-scrollbar 
{
 width: 5px;
 margin-left: -10px;
}
body::-webkit-scrollbar-track 
{
 background-color: transparent;
 border-radius:10px;
}
body::-webkit-scrollbar-thumb
{
 background-color: rgba(70, 70, 70, 0.5);
 border-radius:5px;
}

.main {
    margin-top:0px;
    align-self: center;
    vertical-align: top;
    margin-bottom: 0px;
    width: 100%;
    border:0px;
    border-spacing: 0px;
}

.grid-items {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-self: auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

.bigitem {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    align-self: auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

.grid-items {
    min-height: 250px;
    height: auto;
    margin: 20px 20px 20px 20px;
    width: 94.4%;
}

@media only screen and (min-width: 750px) {
    .grid-items {
      grid-template-columns: repeat(2, 50%);
      grid-column-gap: 2%;
      grid-row-gap: 20px;
    }
  }

  @media only screen and (min-width: 1000px) {
    .grid-items {
      grid-template-columns: repeat(3, 33%);
      grid-row-gap: 20px;
    }
  }

@media only screen and (max-width: 750px) {
    .grid-items {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}
td.pfpcontainer {
    display: none;
}

    .item {
        padding: 5px;
    }
}

.pfp {
    border-radius: 50%;
    width: 180;
    height: 180;
}

.title {
    padding-left:25px;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 36px;
    color:#f7f0f5;
}

.desc {
    padding: 0px 0px 0px 25px;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 20px;
    color:#f7f0f5;
}

.textmf {
    vertical-align: top;
    height: 100%;
    text-align: left;
    margin: 40 20 40 0;
}

.grid-item {
    background-color: #1E201C;
    border-radius: 30px;
}

td.pfpcontainer {
    width: 180;
    height: 180;
    padding: 0 0 0 30;
}

button {
    border: none;
    font-family: 'Roboto Serif', sans-serif;
    font-size:15px;
    border-radius:5px;
    background-color: #262921;
    color:whitesmoke;
    padding: 10 12 10 12;
    margin: 0 5 10 5;
}

.biostuffs {
    background-image: url("https://media.discordapp.net/attachments/935998614868750346/949399276012847134/photo-1555099962-4199c345e5dd_ixlibrb-1.2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

button:hover {
    background-color: #34382e;
}
  